name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.5
      uses: actions/setup-python@v1
      with:
        python-version: '3.5'
    - name: Install dependencies
      run: pip install -r requirements.txt
    - name: Test
      run: make test
